/TestResults
/.vs
/Myriad.ECS/obj
/Myriad.ECS/bin
/Myriad.ECS.SourceGeneration/obj
/Myriad.ECS.SourceGeneration/bin
/Myriad.ECS.Tests/obj
/Myriad.ECS.Tests/bin
/Benchmarks/obj
/Benchmarks/bin

NBodyIntegrator
